Package: box2d
Version: 2.4.1
Port-Version: 2
Architecture: x86-windows
Multi-Arch: same
Abi: 534b30321414f3e9bebb8f14d174a5040b617e7ff4910b7b306801a5e60074bf
Description: An open source C++ engine for simulating rigid bodies in 2D
Type: Port
